@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 100, 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 55, 55, 5;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply font-bold text-2xl mb-4;
  }
}
